*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #B4D0E7;
}

ul{
    list-style-type: none;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.nav-container{
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

header ul{
    align-items: center;
    list-style-type: none; 
}

header li{
    padding: 1rem;
}

.btn{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    margin: 0;
}

.h-container{
    width: 80%;
    text-align: left;
    margin: auto;
    padding-top: 100px;
    position: relative;
}


.h-text{
    flex-basis: 40%;
    padding: 40px;
    line-height: 25px;
    margin: 30px 0px;
}

.h-img{
    position: absolute;
    width: 50%;
    /*immagine spostata ma ho tanti dubbi - probabilmente ticket*/
}
header h1{
    font-size: 6rem;
    padding: 100px 0;
}

header p{
    padding: 15px 0;

}


.arrow{
    position: absolute;
    bottom: 1;
    font-size: 4rem;
}



.m-container{
    width: 60%;
    margin: auto;
    margin-top: 10rem;
}

h2{
   font-size: 3rem; 
   padding: 15px 0px;
}

.buisness{
    padding-top: 30px 0;
    font-size: 1.4rem;
}

.card{
    flex-basis: 25%;
    margin: auto;
}
