*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #B4D0E7;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.nav-container{
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 10px;
}

header ul{
    align-items: center;
    list-style-type: none; 
}

header li{
    padding: 1rem;
}

.btn{
    background-color: #0061FF;
    color: white;
    padding: 10px;
}
