*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #B4D0E7;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.nav-container{
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 10px;
}

header ul{
    align-items: center;
    list-style-type: none; 
}

header li{
    padding: 1rem;
}

.btn{
    background-color: #0061FF;
    color: white;
    padding: 10px;
}

.h-container{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    position: relative;

}


.h-text{
    flex-basis: 50%;
    padding: 30px;
    line-height: 25px;
    margin: 30px 0px;
}

.h-img{
    width: 70%;
}
header h1{
    font-size: 6rem;
    padding: 100px 0;
}

.arrow{
    position: absolute;
    bottom: 0;
    font-size: 4rem;
}

.h-img{
    position: absolute;
    bottom: 
}


.h-img{
    position: absolute;
    bottom: -20px;
}