*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #B4D0E7;
}

ul{
    list-style-type: none;
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.nav-container{
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 10px;
    z-index: 1;
}

header ul{
    align-items: center;
    list-style-type: none; 
}

header li{
    padding: 1rem;
}

.btn{
    background-color: #0061FF;
    color: white;
    padding: 10px;
    border: none;
 }

.h-container{
    width: 80%;
    text-align: left;
    margin: auto;
    padding-top: 100px;
    position: relative;
}


.h-text{
    flex-basis: 40%;
    padding: 40px;
    line-height: 25px;
    margin: 30px 0px;
}

.h-img{
    position: absolute;
    width: 50%;
    /*immagine spostata ma ho tanti dubbi - probabilmente ticket*/
}
header h1{
    font-size: 6rem;
    padding: 100px 0;
}

header p{
    padding: 15px 0;

}

.p-20{
    padding: 20px 0;
}


.arrow{
    position: absolute;
    bottom: 1;
    font-size: 4rem;
}



.m-container{
    width: 60%;
    margin: auto;
    margin-top: 10rem;
}

h2{
   font-size: 2.5rem; 
   padding: 15px 0px;
}

.business{
    padding-top: 30px 0;
    font-size: 1.4rem;
}

.card{
    flex-basis: 25%;
    margin: auto;
    margin-top: 30px;
    border: 1px solid black;
    height: 43.5rem;

}

.user-type{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.main-card{
    padding: 30px;
    line-height: 1.6rem;
    text-indent: -10px;
}

.pagamenti{
    font-weight: bolder;
}

.vantaggi{
    margin: 5px 0px;
    padding: 5px;
}

.left-line{
    border: 1px solid lightgray;
    width: 4rem;
    margin: 5px;
}

.buy-now{
    color: blue;
    text-decoration: underline;
}

.punti-salienti{    
    margin: 20px 0px;
}

.fa-check{
    color: #0061FF;
    padding: 5px 0px;
    margin-right: 5px;
}
.oppure{
    margin-top: 10px;
}

.building{
    text-align: center;
    padding: 5px;
    border: 1px solid lightgray;
    margin-top: 20px; 
    flex-basis: 50%;
}
.building-2{
    border: 1px solid lightgrey;
    height: 150px;
    padding: 15px;
    margin-bottom: 20px;
}

.building-2 p{
    margin-top: 55px;
}

.partner-img{
    flex-basis: 58%;
}

.partner-img img{
    width: 100%;
}


.partner-text{
    flex-basis: 40%;
    padding: 50px 0;
    line-height: 1.4rem;
}

.partner-text p{
    padding: 50px 0;
}

.partner-btn{
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 15px;
}

.business-card{
    flex-basis: 30%;
}

.business-img img{
    width: 100%;
}

.business-columns{
    flex-wrap: wrap;
    margin: 20px;
}

.business-text{
    padding: 20px 0;
}

.business-text p{
    margin-top: 20px;
}

a{
    margin: 30px 0;
}

.brand{
    flex-basis: 33.3%;
}

.designit{
    flex-basis: 33.3%;
}

.wrap{
    flex-wrap: wrap;
}

.logo{
    flex-basis: 50%;
}